generate/msvc2017/AcpiBin
generate/msvc2017/AcpiBinDebug
generate/msvc2017/AcpiDump
generate/msvc2017/AcpiDumpDebug
generate/msvc2017/AcpiSrc
generate/msvc2017/AcpiSrcDebug
generate/msvc2017/AcpiSubsystem
generate/msvc2017/AcpiSubsystemDebug
generate/msvc2017/AcpiExec
generate/msvc2017/AcpiExecDebug
generate/msvc2017/AcpiHelp
generate/msvc2017/AcpiHelpDebug
generate/msvc2017/AcpiNames
generate/msvc2017/AcpiNamesDebug
generate/msvc2017/AslCompiler
generate/msvc2017/AslCompilerDebug
generate/msvc2017/AcpiXtract
generate/msvc2017/AcpiXtractDebug
generate/msvc2017/Examples
generate/msvc2017/ExamplesDebug
generate/msvc2017/*.l.h
generate/msvc2017/*.l.c
generate/msvc2017/*.y.h
generate/msvc2017/*.y.c
generate/msvc2017/*.y.output
generate/msvc2017/.vs
generate/msvc2017/*.y

generate/unix/bin
generate/unix/acpibin/obj
generate/unix/acpidump/obj
generate/unix/acpiexamples/obj
generate/unix/acpiexec/obj
generate/unix/acpihelp/obj
generate/unix/acpinames/obj
generate/unix/acpisrc/obj
generate/unix/acpixtract/obj
generate/unix/iasl/obj

generate/release/current
generate/release/archive
generate/release/size_dbg.txt
generate/release/size_rel.txt

generate/lint/LintOut.txt

generate/linux/bin
generate/linux/bin*
generate/linux/linux
generate/linux/linux-*
generate/linux/acpica-*
generate/linux/diffstat.txt
generate/linux/diffstat-single.txt
generate/linux/divergence.diff
generate/linux/divergence-single.diff

libraries

tests/aslts/tmp
tests/misc/*.dsl
tests/misc/*.aml

.pc

chmod.sh
clean.sh
crlf.sh
pull.sh
push.sh
src.sh
touch.sh
u2d.sh
new
patches
pmtools
source_linux
tools_3rd_party
tests/templates
source.zip
