generate/msvc/*.ncb
generate/msvc/*.plg
generate/msvc/*.opt
generate/msvc/AcpiBin
generate/msvc/AcpiBinDebug
generate/msvc/AcpiSrc
generate/msvc/AcpiSrcDebug
generate/msvc/AcpiSubsystem
generate/msvc/AcpiSubsystemDebug
generate/msvc/AcpiExec
generate/msvc/AcpiExecDebug
generate/msvc/AslCompiler
generate/msvc/AslCompilerDebug
generate/msvc/AcpiXtract
generate/msvc/AcpiXtractDebug
generate/msvc/AcpiSrcLinuxDebug
generate/msvc/AcpiSubsystemLinux
generate/msvc/AcpiSubsystemLinuxDebug
generate/msvc/AslCompiler_Linux/
generate/msvc/AslCompiler_LinuxDebug/
generate/msvc/AcpiSubsystem64
generate/msvc/Examples
generate/msvc/ExamplesDebug
generate/msvc/ApiTest
generate/msvc/bin

generate/unix/bin
generate/unix/acpiexec/*.o
generate/unix/acpiexec/*.exe
generate/unix/acpisrc/*.o
generate/unix/acpisrc/*.exe
generate/unix/acpixtract/*.o
generate/unix/acpixtract/*.exe
generate/unix/iasl/*.o
generate/unix/iasl/*.h
generate/unix/iasl/*.c
generate/unix/iasl/*.output
generate/unix/iasl/*.exe

generate/release/current
generate/release/archive
generate/release/size_dbg.txt
generate/release/size_rel.txt

generate/lint/LintOut.txt

libraries/acpiexecdebug.exe
libraries/AcpiXtractDebug.exe
libraries/AcpiBinDebug.exe
libraries/acpisrcdebug.exe
libraries/iasldebug.exe
libraries/acpica.lib
libraries/acpica_dbg.lib
libraries/Examples.exe
libraries/ExamplesDebug.exe
libraries/ApiTest.exe
libraries/ApiTestdebug.exe
libraries/size.bat
libraries/size_dbg.txt
libraries/size_rel.txt
libraries/apitest.exe

tests/tmp
tests/misc/*.aml

*.sh
new
patches
pmtools
source_linux
tools_3rd_party
source.zip



